*:focus {
  outline: 3px solid rgb(0 215 255 / 1);
}

body {
  font: 16px Arial, sans-serif;
  margin: 0;
  border: 0;
  padding: 0;
}

#my-canvas-container {
  width: 100vw;
  height: 100vh;
}

#my-canvas {
  background-color: yellow;
}

#control-buttons {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(255 255 255 / 0.7);

  & button {
    font-size: 100%;
    display: inline-block;
    margin: 0.5rem;
    border: 1px solid black;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    background-color: rgb(220 220 220 / 1);

    &:hover {
      cursor: pointer;
    }
  }

  & a {
    display: inline-block;
    margin: 0.5rem;
    border: 1px solid black;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    background-color: rgb(220 220 220 / 1);
    color: inherit;
    text-decoration: none;
  }
}

dialog {
  max-height: 80vh;
  max-width: 80vw;
  border: 1px dashed black;
  border-radius: 5px;

  & button.close {
    float: right;
    font-size: 100%;
    background-color: rgb(220 220 220 / 1);
    border-radius: 5px;

    &:hover {
      cursor: pointer;
    }
  }
}

#background-modal {

  & input {
    opacity: 0;
  }

  & button#background-image-hide {
    font-size: 100%;
    background-color: rgb(220 220 220 / 1);
    border-radius: 5px;
    padding: 0.25rem;
  }

  & label {
    border: 1px solid black;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    background-color: rgb(220 220 220 / 1);

    &:hover {
      cursor: pointer;
    }

    &.is-focussed {
      outline: 3px solid rgb(0 215 255 / 1);
    }
  }

  & #background-image-hold {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & button {
      margin: 0.2rem;
      padding: 0;
      width: 100px;
      height: 100px;

      & img {
        width: 100%;
        height: 100%;
        margin: 0;
        border: 0;
        padding: 0;
        object-fit: cover;
      }
    }
  }
}

#dimensions-modal {

  & select {
    font-size: 100%;
    display: inline-block;
    margin: 0.5rem;
    padding: 0.25rem 0.5rem;

    & option {
      font-size: 100%;
    }
  }
}