:root {
  font: 16px Arial, sans-serif;

  --control-bar-background: rgb(255 255 255 / 0.7);
  --control-button-background: rgb(220 220 220 / 1);
  --control-button-border: rgb(60 60 60 / 1);

  --outline-width: 3px;
  --outline-color: rgb(0 215 255 / 1);

  --canvas-color: rgb(255 255 0 / 1);

  --is-recording-text: rgb(255 255 200 / 1);
  --is-recording-background: rgb(220 0 0 / 1);
  --start-recording-background: rgb(80 255 80 / 1);

  --editing-bar-border: rgb(60 60 60 / 1);
  --editing-bar-background: rgb(255 255 255 / 0.7);

  --dialog-border: rgb(60 60 60 / 1);
  --dialog-button-background: rgb(220 220 220 / 1);
  --dialog-button-border: rgb(60 60 60 / 1);
  --dialog-row-separator: rgb(60 60 60 / 1);

  --range-track: rgb(100 100 100 / 1);
  --range-pin-background: rgb(200 200 200 / 1);
  --range-pin-border: rgb(100 100 100 / 1);

  --range-track-disabled: rgb(220 220 220 / 1);
  --range-pin-background-disabled: rgb(240 240 240 / 1);
  --range-pin-border-disabled: rgb(220 220 220 / 1);

  --warning-color: rgb(160 0 0 / 1);
}

*:focus {
  outline: var(--outline-width) solid var(--outline-color);
}

/* Styling the range sliders across browsers */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 100%;
  margin: 0.5rem 0;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    background-color: var(--range-track);
    border-radius: 2px;
    height: 4px;
  }

  &:disabled::-webkit-slider-runnable-track {
    background-color: var(--range-track-disabled);
  }

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    margin-top: -6px;
    background-color: var(--range-pin-background);
    border: 1px solid var(--range-pin-border);
    border-radius: 8px;
    height: 16px;
    width: 12px;
  }

  &:focus::-webkit-slider-thumb {
    outline: var(--outline-width) solid var(--outline-color);
  }

  &:disabled::-webkit-slider-thumb {
    background-color: var(--range-pin-background-disabled);
    border-color: var(--range-pin-border-disabled);
  }

  &::-moz-range-track {
    background-color: var(--range-track);
    border-radius: 2px;
    height: 4px;
  }

  &:disabled::-moz-range-track {
    background-color: var(--range-track-disabled);
  }

  &::-moz-range-thumb {
    background-color: var(--range-pin-background);
    border: 1px solid var(--range-pin-border);
    border-radius: 8px;
    height: 16px;
    width: 12px;
  }

  &:focus::-moz-range-thumb {
    outline: var(--outline-width) solid var(--outline-color);
  }

  &:disabled::-moz-range-thumb {
    background-color: var(--range-pin-background-disabled);
    border-color: var(--range-pin-border-disabled);
  }
}

body {
  margin: 0;
  border: 0;
  padding: 0;
}

#my-canvas-container {
  width: 100vw;
  min-width: 360px;
  height: 100vh;
}

#my-canvas {
  background-color: var(--canvas-color);
}

#control-buttons {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  min-width: 360px;
  margin: 0;
  border: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--control-bar-background);

  & button {
    font-size: 100%;
    display: inline-block;
    margin: 0.5rem;
    border: 1px solid var(--control-button-border);
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    background-color: var(--control-button-background);

    &:hover {
      cursor: pointer;
    }

    &.is-recording {
      background-color: var(--is-recording-background);
      color: var(--is-recording-text);
    }
  }

  & a {
    display: inline-block;
    margin: 0.5rem;
    border: 1px solid var(--control-button-border);
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    background-color: var(--control-button-background);
    color: inherit;
    text-decoration: none;
  }
}

#entity-control-panel {
  font-size: 90%;
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  min-width: 360px;
  max-height: 180px;
  overflow-y: auto;
  margin: 0;
  border: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--editing-bar-background);

  & #entity-heading {
    margin: 0;
    border-bottom: 1px dashed var(--editing-bar-border);
    border-top: 1px solid var(--editing-bar-border);
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & p {
      margin: 0;
      border: 0;
      padding: 0;
    }
  }

  & #entity-controls {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & div {
      display: flex;
      flex-direction: column;
      padding-right: 2rem;

      & label {
        padding-left: 0.5rem;
      }
    }
  }
}

dialog {
  max-height: 80vh;
  max-width: 80vw;
  border: 1px dashed var(--dialog-border);
  border-radius: 5px;

  & button.close {
    float: right;
    font-size: 100%;
    border-radius: 5px;
    border: 1px solid var(--dialog-button-border);
    background-color: var(--dialog-button-background);

    &:hover {
      cursor: pointer;
    }
  }
}

#background-modal {

  & input {
    opacity: 0;
  }

  & button#background-image-hide {
    font-size: 100%;
    background-color: var(--dialog-button-background);
    border-radius: 5px;
    padding: 0.25rem;
  }

  & label {
    border: 1px solid var(--dialog-button-border);
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    background-color: var(--dialog-button-background);

    &:hover {
      cursor: pointer;
    }

    &.is-focussed {
      outline: var(--outline-width) solid var(--outline-color);
    }
  }

  & #background-image-hold {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & button {
      margin: 0.2rem;
      padding: 0;
      width: 100px;
      height: 100px;

      & img {
        width: 100%;
        height: 100%;
        margin: 0;
        border: 0;
        padding: 0;
        object-fit: cover;
      }
    }
  }
}

#targets-modal {

  min-width: 50vw;

  & button#target-request-button {
    font-size: 100%;
    background-color: var(--dialog-button-background);
    border-radius: 5px;
    padding: 0.25rem;
  }

  & .target-list-row {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--dialog-row-separator);
    padding: 0.3rem 0;

    & button {
      font-size: 100%;
      background-color: var(--dialog-button-background);
      border-radius: 5px;
      padding: 0.25rem;
    }
  }

  & .border-parameters {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
    align-items: center;

    @media (width >= 600px) {
      grid-template-columns: 1fr 1fr;
    }

    & #target-border-color {
      width: 100%;
    }
  }
}

#dimensions-modal {

  min-width: 50vw;

  & select {
    font-size: 100%;
    display: inline-block;
    margin: 0.5rem;
    padding: 0.25rem 0.5rem;

    & option {
      font-size: 100%;
    }
  }
}

#head-modal {

  min-width: 50vw;

  & .talking-head-parameters {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
    align-items: center;

    @media (width >= 600px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  & input[type="checkbox"] {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.5rem;
  }
}

#recording-modal {

  min-width: 50vw;

  & .recording-parameters {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
    align-items: center;

    @media (width >= 600px) {
      grid-template-columns: 1fr 1fr;
    }

    & select {
      font-size: 100%;
      display: inline-block;
      margin: 0.5rem;
      padding: 0.25rem 0.5rem;

      & option {
        font-size: 100%;
      }
    }

    & input {
      font-size: 100%;
      margin: 0 0.5rem;
    }

    & .warning-message {
      font-size: 90%;
      margin-right: 2rem;
      color: var(--warning-color);
    }
  }

  & #recording-start-button {
    font-size: 120%;
    width: 100%;
    background-color: var(--dialog-button-background);
    border-radius: 5px;
    padding: 0.25rem;

    &:hover, &:focus {
      background-color: var(--start-recording-background);
    }
  }
}
